@model My_Aanchal_NoteBook.Models.MilkEntry

@{
    ViewData["Title"] = "DetailsOfMilkEntery";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h1>Details Of Milk Entry</h1>
<hr />

<div class="border rounded-3 p-2">


    <div class="container-fluid">

        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(x => x.Code)
                @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(x => x.EntryDate)
                @Html.TextBoxFor(model => model.EntryDate, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(x => x.EntryTiming)
                @Html.TextBoxFor(model => model.EntryTiming, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(x => x.Fat)
                @Html.TextBoxFor(model => model.Fat, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(x => x.Snf)
                @Html.TextBoxFor(model => model.Snf, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(x => x.Quantity)
                @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(x => x.Rate)
                @Html.TextBoxFor(model => model.Rate, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(x => x.TotalPrice)
                @Html.TextBoxFor(model => model.TotalPrice, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(x => x.Bonus)
                @Html.TextBoxFor(model => model.Bonus, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(x => x.Image)
                <br />
                @Html.Raw("<a href='" + Url.Content("~/path/to/image/" + Model.Image) + "' download class='text-primary form-control'>Download Image</a>")

            </div>
            <div class="col-md-8">
                @Html.LabelFor(x => x.Remark)
                @Html.TextBoxFor(model => model.Remark, new { @class = "form-control", @readonly = "readonly" })
            </div>

        </div>

        <div class="row">
            <div class="col-md-6 col-12 mt-4">
                <div class="form-group d-grid">
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary d-block"><i class="bi bi-pencil-square"></i> Edit</a>
                </div>
            </div>
            <div class="col-md-6 col-12 mt-4">
                <div class="form-group d-grid">
                    <a asp-action="Index" class="btn btn-secondary d-block"><i class="bi bi-skip-backward-fill"></i> Back to List</a>
                </div>
            </div>
        </div>


    </div>
    <div>
         
        
    </div>

</div>
