@model My_Aanchal_NoteBook.Models.User

@{
    ViewData["Title"] = "UserDetails";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h3>User Details</h3>

<div>
    
    <hr />
    <dl class="row text-center">
        <dt class="col-sm-2 text-center">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HusbandName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HusbandName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DairyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DairyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DairyLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DairyLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SachiveName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SachiveName)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Otp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Otp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtpCreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtpCreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtpEndsOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtpEndsOn)
        </dd> *@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserId">Edit</a> |
    <a asp-action="UserProfileSection">Back to List</a>
</div>
