@model My_Aanchal_NoteBook.Models.User

@{
    ViewData["Title"] = "UserDetails";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h3>User Details</h3>
<hr />
<div class="border rounded-3 p-2">


    <div class="container-fluid">

        <div class="row ">
            <div class="col-md-4">
                @Html.LabelFor(x => x.Code)
                @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(x => x.HusbandName)
                @Html.TextBoxFor(model => model.HusbandName, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(x => x.EmailId)
                @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(x => x.PhoneNumber)
                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(x => x.Address)
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(x => x.DairyName)
                @Html.TextBoxFor(model => model.DairyName, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(x => x.DairyLocation)
                @Html.TextBoxFor(model => model.DairyLocation, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(x => x.SachiveName)
                @Html.TextBoxFor(model => model.SachiveName, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-12 mt-4">
                <div class="form-group d-grid">
                    <a asp-action="UpdateUser" asp-route-id="@Model?.UserId" class="btn btn-primary d-block"> <i class="bi bi-pencil-square"></i> Edit</a>
                </div>
            </div>
            <div class="col-md-6 d-grid mt-4">
                <div>
                    <a asp-action="UserProfileSection" class="btn btn-secondary d-block"><i class="bi bi-skip-backward-fill"></i> Back to List</a>
                </div>
            </div>
        </div>


    </div>
    <div>
    </div>
</div>
